body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }

  header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  nav ul li {
    display: inline;
    margin: 0 20px;
  }

  nav ul li a {
    color: #fff;
    text-decoration: none;
  }

  section.search {
    padding: 30px;
    background-color: #fff;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  section.search h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  section.search form {
    display: flex;
    flex-direction: column;
  }

  section.search label {
    margin-bottom: 5px;
    font-size: 16px;
  }

  section.search input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  section.search button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

  section.search button:hover {
    background-color: #444;
  }

  section.suggestions {
    padding: 20px;
    background-color: #fff;
    margin-top: 20px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: none;
  }

  section.suggestions h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  section.suggestions ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  section.suggestions li {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #ddd;
  }

  footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
  }